@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.title-h2 {
  font-family: Montserrat, sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #494949;
}

.header {
  max-width: 1190px;
  margin: 30px auto;
}

.info {
  border-bottom: 2px solid #ececec;
  padding-bottom: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 210px;
  height: 42px;
  margin-left: -15px;
}

.info-list {
  list-style-type: none;
  display: flex;
}

.info-list__item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px;
  grid-gap: 0 15px;
  color: #6a6a6a;
}

.info-list__item:nth-child(n+2) {
  margin-left: 50px;
}

.info-list__item:last-child {
  margin-right: -5px;
}

.info-list__item-title {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.info-list__item-description {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 15px;
  text-decoration: none;
  color: #6a6a6a;
}

.nav {
  margin-left: -5px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-list,
.nav-social-list {
  list-style-type: none;
  display: flex;
}

.nav-list__item:nth-child(n+2) {
  margin-left: 25px;
}

.nav-list__link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #6c6c6c;
}

.nav-list__link_active {
  color: #262626;
}

.nav-social-list {
  margin-right: -5px;
}

.nav-social-list__item:nth-child(n+2) {
  margin-left: 25px;
}

.nav-social-list__link {
  height: 24px;
  display: inline-block;
}

.nav-social-list__link_fb {
  width: 14px;
  background: url('../images/social-icon_black.png') left center no-repeat;
}

.nav-social-list__link_gplus {
  width: 33px;
  background: url('../images/social-icon_black.png') -37px center no-repeat;
}

.nav-social-list__link_vk {
  width: 26px;
  background: url('../images/social-icon_black.png') -95px center no-repeat;
}

.nav-social-list__link_youtube {
  width: 20px;
  background: url('../images/social-icon_black.png') -147px center no-repeat;
}

.nav-social-list__link_in {
  width: 22px;
  background: url('../images/social-icon_black.png') -192px center no-repeat;
}

.big-doctor {
  position: relative;
  overflow: hidden;
}

.big-doctor-info {
  max-width: 524px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 250px;
  transform: translateY(-50%);
}

.big-doctor-info__title {
  font-family: Montserrat, sans-serif;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -2.5px;
  margin-bottom: 30px;
  color: #474747;
}

.big-doctor-info__description {
  max-width: 422px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
  color: #3f3f3f;
}

.big-doctor-info__btn {
  text-decoration: none;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
  padding: 15px 28px;
  border-radius: 50px;
  text-transform: uppercase;
  color: #ffffff;
  box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
  background-color: #1a9bdc;
  display: inline-block;
}